server:
  port: 8080
  address: 0.0.0.0  # important for Docker container to be accessible outside

spring:
  datasource:
    url: jdbc:mysql://auth-db:3306/auth_service_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
